
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <nav class="navbar navbar-inverse navbar-fixed-top" >
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand"  routerLink="/about"><span class="glyphicon glyphicon-link"></span>  RV</a>
     </div>
     <ul class="nav navbar-nav">
       
       <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/userlogin">User</a></li>
       <li><a routerLink="/trainerlogin">Trainer</a></li>
       <li><a routerLink="/adminlogin">Admin</a></li>
     </ul>
    
   </div>
 </nav>



  <div class="container">
   <div class="row">
    <div class="col-sm-4">
    <div class="top">
    <a routerLink="/userlogin"><img class="img1" src="assets/img/user.png"></a>
    <h1 style="margin-left:35px;"><strong>User</strong></h1>
    </div>
  
    </div>

       <div class="col-sm-4">
    <div class="top1">
    <a routerLink="/trainerlogin"><img class="img1" src="assets/img/trainer.png"></a>
    <h1 style="margin-left:20px;"><strong>Trainer</strong></h1>
    </div>
  
    </div>

     <div class="col-sm-4">
    <div class="top2">
    <a routerLink="/adminlogin"><img class="img1" src="assets/img/admin.png"></a>
    <h1 style="margin-left:20px;"><strong>Admin</strong></h1>
    </div>
  
    </div>
</div>
</div>

  
  

