
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  <nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"  routerLink="/about"><span class="glyphicon glyphicon-link"></span>  RV</a>
      </div>
      <ul class="nav navbar-nav">
        
        <li><a routerLink="/home">Home</a></li>
       <li><a routerLink="/userlogin">User</a></li>
        <li><a routerLink="/trainerlogin">Trainer</a></li>
        <li><a routerLink="/hadmin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="margin-bottom:0px;margin-top:0px" >
        <li style="margin-right:28px">
          <button class="btn btn-danger navbar-btn"  style="margin-bottom:0px;margin-top:9px"  (click)="logout()">Log-out</button></li>
        <li style="margin-right:10px">
          <a class="navbar-brand"><span class="glyphicon glyphicon-user"></span>  {{users}}</a></li>
         
       
        
          </ul>
      
    </div>
  </nav>

 
  <h4 class="modal-title">Edit Technology</h4>
     
  <div class="modal-body">
   <table class="table table-hover table-bordered">
     <thead>
       <tr>
        <th>Id</th>
        <th>Course Name</th>
        <th>Course Duration</th>
        <th>Course Price</th>
         <th> </th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor="let user of techs">
        <td>{{user.id}}</td>
        <td>{{user.techName}}</td>
        <td>{{user.duration}}</td>
        <td>{{user.price}}</td>
         <td><button class="btn btn-danger btn-lg" (click)="deleteUser(user)"> Delete Technology</button></td>
       </tr>
       </tbody>
</table>
 </div>



<hr>

<form class="form">
  <div class="container">
    <h1 style=" margin-left: 100px;"><strong>Add Technology</strong></h1>
    
    <hr>
    
    
    <label for="name"><b>Course Name</b></label>
    <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-user"></i> 
       </span><input type="text" [(ngModel)]="tech.techName" class="form-control" placeholder="Enter username" name="techName" id="techName" required></div>



    <label for="duration"><b>Course Duration</b></label>
    <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-user"></i> 
       </span><input type="text" [(ngModel)]="tech.duration" class="form-control" placeholder="Enter First Name" name="duration" id="duration" required></div>

    <label for="price"><b>Course Price</b></label>
    <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-user"></i> 
       </span><input type="text" [(ngModel)]="tech.price" class="form-control" placeholder="Enter Last Name" name="price" id="price" required></div>


       <div class="add" style="width: 10%; text-align: center;">
        <button type="button" class="btn btn-info btn-lg"  (click)="createUser()">Add</button>
      </div>

  </div>
</form>


